.produtos ul{
	margin: 0 auto;
	list-style: none;
	width: 100%;
	box-sizing: border-box;
}
.produtos .wrapper{
	padding: 16px;
	margin: 16px 0;
}
.produtos li hr{
	opacity: 0.35;
	width: 90%;
	margin: 0 auto;
}

.produtos img{
	width: 48px;
	height: 48px;
	opacity: 0.15;
}
.produtos .inf{
	display: inline-block;
	margin-left: 16px;
}

h2, h3{
	display: inline-block;
	color: rgba(0,0,0,0.8);
}
h2{
	font-size: 1.4em;
}
h3{
	font-size: 1.2em;
	font-style: italic;
}